{% extends 'base.html.twig' %}

{% set description = book.description %}

{% block body %}
    <section class="container mt-4">

        <a href="{{ path('ekinotheque_home') }}">< Revenir à la liste</a>

        <div class="row mt-4 d-flex">

            <div class="col-2">
                <img src="{{ book.cover }}" class="img-fluid" />
            </div>

            <div class="col-10">
                {% include 'partial/book-availability.html.twig' with {available: book is available} %}
                <h1>{{ book.title }}</h1>
                <p>Mis à disposition par : {{ book.owner }} {{ book.location is not null ? '('~ book.location ~')' : '' }}</p>

                {% for category in book.categories %}
                    <a href="{{ path('ekinotheque_filter_book', {'categorySlug': category.slug}) }}">#{{ category }}</a>
                {% endfor %}

                <hr>

                <div class="row">
                    {% set hasComments = book.comments is not empty %}
                    <div class="col-md-{{ hasComments ? 8 : 12 }}" id="book-description">
                        {{ description|truncate(300)|markdown }}
                        <br>
                        <button class="btn btn-secondary read-more">Voir plus</button>
                    </div>
                    {% if hasComments %}
                    <div class="col-md-4">
                        <div class="alert alert-warning" role="alert">
                            <strong>Conditions d'emprunt</strong> <br/>
                            {{ book.comments|markdown }}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="mx-auto my-4">
                    <a href="{{ path('ekinotheque_book_borrow', {bookSlug: book.slug}) }}" class="btn mr-4 shadow btn-primary">
                        Emprunter le livre
                    </a>
                </div>
            </div>

        </div>
    </section>

    {% set borrowedBooks = book.borrowedBooks %}

    {% if borrowedBooks is not empty %}

        {% set futureBorrowedBooks = [] %}
        {% set historyBorrowedBooks = [] %}

        {% for borrowedBook in borrowedBooks if borrowedBook.validationStatus == constant('App\\Entity\\BorrowedBook::STATUS_ACCEPTED') %}
            {% if borrowedBook.borrowingDate > date() %}
                {% set futureBorrowedBooks = futureBorrowedBooks|merge([borrowedBook]) %}
            {% else %}
                {% set historyBorrowedBooks = historyBorrowedBooks|merge([borrowedBook]) %}
            {% endif %}
        {% endfor %}

        <section class="container-fluid mt-4 bg-light">
            <div class="container pt-4">
                {# Old borrowed books #}
                {% include 'partial/table-borrowing.html.twig' with {
                    'title': 'A venir',
                    'borrowedBooks': futureBorrowedBooks,
                    'cssClass': 'future',
                    'isPast': FALSE
                } %}

                {# Future borrowed books #}
                {% include 'partial/table-borrowing.html.twig' with {
                    'title': 'Historique d\'emprunt',
                    'borrowedBooks': historyBorrowedBooks,
                    'cssClass': 'history',
                    'isPast': TRUE
                } %}
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $("button.read-more").click(function() {
            $("#book-description").empty().append('{{ description|markdown|e('js') }}');
        });
    </script>
{% endblock %}
