{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-4">
        <a href="{{ path('ekinotheque_home') }}">< Revenir à la liste</a>
        
        <div class="row mt-4 d-flex">
            <img src="{{ book.cover }}" class="h-100 col-2">

            <div class="col-10">
                {% include 'partial/book-availability.html.twig' with {available: book is available} %}
                <h1>{{ book.title }}</h1>
                <p>Mis à disposition par : {{ book.owner }} {{ book.location is not null ? '('~ book.location ~')' : '' }}</p>

                {% for category in book.categories %}
                    <a href="{{ path('ekinotheque_filter_book', {'categorySlug': category.slug}) }}">#{{ category }}</a>
                {% endfor %}

                <hr>

                <div class="row">
                    {% set hasComments = book.comments is not empty %}
                    <div class="col-md-{{ hasComments ? 8 : 12 }}">
                        <p>{{ book.description|markdown }}</p>
                    </div>
                    {% if hasComments %}
                    <div class="col-md-4">
                        <div class="alert alert-warning" role="alert">
                            <strong>Conditions d'emprunt</strong> <br/>
                            {{ book.comments|markdown }}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="mx-auto my-4">
                    <a href="{{ path('ekinotheque_book_borrow', {bookId: book.id}) }}" class="btn mr-4 shadow btn-primary">
                        Emprunter le livre
                    </a>
                </div>
            </div>

        </div>
    </section>

    {% set borrowedBooks = book.borrowedBooks %}

    {% if borrowedBooks is not empty %}
        <section class="container-fluid mt-4 bg-light">
            <div class="container pt-4">
                {% include 'partial/table-future-borrowing.html.twig' %}

                {% include 'partial/table-old-borrowing.html.twig' %}
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        if (!$("tr.history").length) {
            $("div.history").remove();
        }
        if (!$("tr.future").length) {
            $("div.future").remove();
        }
    </script>
{% endblock %}
